@CHARSET "UTF-8";


header{
	color:black;
	font-size: 14px;
}
a{ 
    display : none; 
}

table{
	border-collapse:collapse;
}

td,th{
	padding: 5px;
}

#menu, footer, header{ 
  display : none; 
}

.sisu >img {max-width: 100%; max-height: 50%;}